body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f0f0f0;
	font-family: "Courier New";
	font-weight: 100;
}

mark {
	background-color: #FFB6C1;
}

input {
  vertical-align: middle;
}

button {
	border: 2px solid grey;
}

button:hover {
	background-color: grey;
}

.parseInputButton {
	display: inline-block;
  vertical-align: middle;
}

.puzzletext-box{
	width: 70%;
	background-color: white;
	margin: 16px;
	padding: 8px;
}

.guesses-box {
	background-color: white;
	margin: 16px;
	padding: 8px;
	width: 70%;
	height: 8em;
	overflow-y: auto;
}

.levels {
	background-color: white;
}